[submodule "turbin3-solana-starter"]
	path = turbin3-solana-starter
	url = https://github.com/GhostGamer6969/turbin3-solana-starter
[submodule "gill-testing"]
	path = gill-testing
	url = https://github.com/GhostGamer6969/Turbin3-gill-sdk
[submodule "vault"]
	path = vault
	url = https://github.com/GhostGamer6969/Turbin3-vault
[submodule "escrow"]
	path = escrow
	url = https://github.com/GhostGamer6969/Turbin3-Escrow
[submodule "AMM"]
	path = AMM
	url = https://github.com/GhostGamer6969/Turbin3-AMM.git
[submodule "anchor-nft-staking"]
	path = anchor-nft-staking
	url = https://github.com/GhostGamer6969/Turbin3-nft-staking.git
[submodule "anchor-marketplace"]
	path = anchor-marketplace
	url = https://github.com/GhostGamer6969/Turbin3-anchor-marketplace.git
[submodule "anchor-dice"]
	path = anchor-dice
	url = https://github.com/GhostGamer6969/anchor-dice-game.git
[submodule "anchor-counter-er"]
	path = anchor-counter-er
	url = https://github.com/GhostGamer6969/Turbin3-anchor-coutner-er.git
[submodule "capstone-project"]
	path = capstone-project
	url = https://github.com/GhostGamer6969/StreakSafe.git
