[submodule "turbin3-solana-starter"]
	path = turbin3-solana-starter
	url = https://github.com/GhostGamer6969/turbin3-solana-starter
[submodule "gill-testing"]
	path = gill-testing
	url = https://github.com/GhostGamer6969/Turbin3-gill-sdk
[submodule "vault"]
	path = vault
	url = https://github.com/GhostGamer6969/Turbin3-vault
[submodule "escrow"]
	path = escrow
	url = https://github.com/GhostGamer6969/Turbin3-Escrow
[submodule "AMM"]
	path = AMM
	url = https://github.com/GhostGamer6969/Trubin3-AMM.git
